<!--
===============
|| CHANGELOG ||
===============
201904211050 - added darkmode html, following tutorial at
               https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8
-->


<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- Google Analytics -->
			{% include analytics.html %}
			<!--<script>
			const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
			const currentTheme = localStorage.getItem('theme');

			if (currentTheme) {
			    document.documentElement.setAttribute('data-theme', currentTheme);

			    if (currentTheme === 'dark') {
			        toggleSwitch.checked = true;
			    }
			}

			function switchTheme(e) {
			    if (e.target.checked) {
			        document.documentElement.setAttribute('data-theme', 'dark');
			        localStorage.setItem('theme', 'dark');
			    }
			    else {        document.documentElement.setAttribute('data-theme', 'light');
			          localStorage.setItem('theme', 'light');
			    }
			}

			toggleSwitch.addEventListener('change', switchTheme, false);
    </script>-->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!-- <li><a href="/cv">CV</a></li> -->
	        		<li><a href="/blog/">Blog</a></li>
	    		</ul>
					<!-- dark mode switch -->
					<div class="theme-switch-wrapper">
    				<label class="theme-switch" for="checkbox">
        			<input type="checkbox" id="checkbox" />
        			<div class="slider round"></div>
  					</label>
  					<em>Enable Dark Mode! (currently in *very* early alpha)</em>
					</div>
					<!-- end dark mode switch code -->
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:cvega.tech@gmail.com">email</a></li>
							<li><a href="https://www.linkedin.com/in/chrisevega">LinkedIn</a></li>
							<li><a href="https://dev.to/twop0intfive">DEV</a></li>
	        		<li><a href="https://github.com/twop0intfive">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
